{% extends 'base.html' %}
{% block titulli %} CAR|About {% endblock  %}
{% block kontent %}



<section class=" ">
	<div class="container">
		<div class="row">
			<div class="col-md-12 bg-light text-center py-4">
				<div class="lc-block mb-3">
					<div editable="rich">
						<h1 class="fw-bold display-1">About</h1>
					</div>
				</div>
				<div class="lc-block ">
					<div editable="rich">

						<p>Use this section to share your story, your experience, or the skills you possess.<br>This is an opportunity to create a connection with the visitor and give them<br>&nbsp;the confidence that you have the ability to provide the service they need.
						</p>
					</div>
				</div><!-- /lc-block -->
			</div><!-- /col -->
		</div>

		<div class="row">
			<div class="col-md-12 bg-light text-center g-0">
				<div class="lc-block">
					<img class="img-fluid" src="https://via.placeholder.com/1460x600.png/dce2ef/f4f6fa" width="1460" height="600" loading="lazy">
				</div>

			</div><!-- /col -->
		</div>
	</div>
</section>
<section class="">
	<div class="container py-6">
		<div class="row gy-5 gy-xl-0">
			<div class="col-lg-4">
				<div class="lc-block text-muted" style="letter-spacing:0.7rem">
					<div editable="rich">
						<p>CLIENTS</p>
					</div>
				</div>
				<div class="lc-block">
					<div editable="rich">
						<p> This is a space to list examples of some of your clients.


						</p>
					</div>
				</div><!-- /lc-block -->
			</div><!-- /col -->
			<div class="col-lg-4">
				<div class="lc-block text-muted" style="letter-spacing:0.7rem">
					<div editable="rich">
						<p>AWARDS</p>
					</div>
				</div>
				<div class="lc-block">
					<div editable="rich">
						<p>Award 1: Provide details of an award you won.
							Award 2: Provide details of an award you won.
						</p>
					</div>
				</div><!-- /lc-block -->
			</div><!-- /col -->
			<div class="col-lg-4">
				<div class="lc-block text-muted" style="letter-spacing:0.7rem">
					<div editable="rich">
						<p>PUBLICATIONS</p>
					</div>
				</div>
				<div class="lc-block">
					<div editable="rich">
						<p> This is a space to list any publications your work has been featured in.

						</p>
					</div>
				</div><!-- /lc-block -->
			</div><!-- /col -->
		</div>
	</div>
</section>


{% endblock  %}